.definition
  height: 150px
  @include span-columns(3)
  @include nth-omega(4n)
  header
    width: 100%
    padding: 0 10px
    background: rgba(50,50,50,0.7)
    h1
      color: white
      float: left
    h3
      float: right
      font-size: 1em

    &.dangerous
      h3
        color: $alertColor
    &.safe
      h3
        color: $successColor

  p
    padding: 10px
    background: rgba(255,255,255, 0.5)
    width: 100%
    border: solid rgba(50,50,50,0.7) 1px
