.search-form
  @include span-columns(11)
  position: relative
  .actions
    position: absolute
    top: 15px
    right: 10px
    .download
      margin-left: 10px
    .icon-search, .icon-download
      font-size: 40px
      background: white
.add-definition
  @include span-columns(1)
  font-size: 40px
  margin-top: 15px
