header.title
  width: 400px
  height: 100px
  margin: 0 auto
  margin-bottom: 50px
  h1
    font-size: 113px
    a
      color: #222
      font-family: 'Fredoka One', cursive
.top-bar
  @include border-bottom-left-radius(3px)
  @include border-bottom-right-radius(3px)

  position: fixed
  top: 0
  right: 20px
  background: #222
  ul
    margin: 10px
    margin-top: 5px
    height: 20px
    li
      a
        color: white
      float: left
      margin-right: 10px
      margin-left: 10px
      list-style-type: none
