.top-bar
  background: #111
  height: 50px
  margin-bottom: 20px
  .name
    float: left
    height: 50px
    margin-left: 20px
    h1
      margin: 0
      padding: 0
      height: 50px
      a
        display: block
        height: 50px
        margin: 0
        padding: 0
        color: white
        font-size: 25px
        line-height: 50px

  .utilities
    float: right
    margin: 5px
